<% values.each do |value| %>
	<label class="checkbox">
		<%= check_box_tag("profile[#{param}_multiselect][]", value[1], multiselect.include?(value[1])) %>
		<span><%= value[0] %></span>
	</label>
<% end %>
