<div class="span3">
  <div class="dropdown">
    <label class="dropdown-toggle label_drpd" data-toggle="dropdown"><strong><%= t criteria[:key] %></strong></label>
    <%= render partial: "search/criterias/#{criteria[:type]}",
               locals: { section: criteria[:section], key: criteria[:key],
                         subtype: criteria[:subtype], f: f } %>
  </div>
</div>
