<% section = criteria[:section] %>
<% key = criteria[:key] %>
<% type = criteria[:type] %>
<% subtype = criteria[:subtype] %>
<div class="span5">
	<label><strong><%= t key %></strong></label>
	<%= render partial: "search/criterias/#{type}", locals: { section: section, key: key, subtype: subtype, f: f } %>
	<br/>
</div>
