<div class="span5">
	<label><strong><%= t criteria[:key] %></strong></label>
	<%= render 	partial: "search/criterias/#{criteria[:type]}",
				locals: { 	section: criteria[:section], key: criteria[:key], 
							subtype: criteria[:subtype], f: f } %>
	<br/>
</div>
