<div>
  <div>
    <%= link_to wink.user.name, user_profile_path(wink.user) -%>
    <%= format_date (wink.created_at) -%>
  </div>
  <%= link_to wink.image.url, class: :fancybox_popups do
    image_tag wink.image.url(:thumb)
  end -%>
</div>