<h2>Favorite users</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nickname</th>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td>
        <%= user.nickname %>
        <% if user.deleted? %>
          &nbsp;<span class="label">Deleted</span>
        <% else %>
          &nbsp;<span class="hide">Not deleted</span>
        <% end %>
      </td>
      <td><%= link_to user.name, user_profile_path(user) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
