<h1>Venues from FourSquare</h1>

<div id="foursquare_venues">
  <div style="width:470px; height:500px; position: absolute" id="map" class="gmap">
  </div>
  <div style="float:right; margin-left: 500px" id="venues_list">

  </div>
</div>