<%= render "shared/error_messages", target: @credit %>
<%= form_for @credit, url: credits_path do |f| -%>
  <p>
    <%= f.select :trackable_id, CreditsPackage.all.map { |cp| [cp.to_s, cp.id] } -%>
  </p>
  <p>
    <%= f.submit t('credits.add') -%>
  </p>
<%- end -%>
