#avatar
  = image_tag  user.avatar_url(:avatar, !page_owner?)
  - if user.avatar && can?(:manage, user.avatar)
    = link_to 'Remove avatar', user.avatar, method: :delete, data: {confirm: 'Sure?'}, remote: true