// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;
/*
*= require_self
*= require_directory './admin'
*/

// Active Admin's got SASS!
@import 'active_admin/mixins';
@import 'active_admin/base';
@import 'fancybox';

// profile view
.profile-grid, profile-grid *, .profile-grid:after, profile-grid *:after, .profile-grid:before, profile-grid *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.profile-grid:after {
  content: "";
  display: table;
  clear: both;
}

[class*="profile-col-"] {
  float: left;
}

[class*="profile-col-"] > * {
  margin-left: 20px;
}

[class*="profile-col-"]:first-of-type > * {
  margin-left: 0;
}

[class*="profile-col-"] * {
  max-width: 100%;
  width: auto;
  height: auto;
  vertical-align: middle;
  border: 0;
}

.profile-col-1-2 {
  width: 50%;
}

.profile-col-1-4 {
  width: 25%;
}

.profile-col-1-3 {
  width: 33.3333333%;
}

.profile-col-2-3 {
  width: 66.6666666%;
}

.profile-label-danger {
  background-color: #b94a48;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 2px 4px;
  font-size: 11.844px;
  font-weight: bold;
  line-height: 14px;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  white-space: nowrap;
  vertical-align: baseline;
}

.profile-hide {
  display: none !important;
}

textarea.profile-inline-edit {
  width: 100% !important;
}

input.profile-inline-edit {
  width: 100% !important;
}

select.profile-inline-edit {
  width: 100% !important;
}

tr.profile-inline-edit, tr.profile-inline-edit > td:nth-child(2) {
  width: 65%
}
