<div>
  <%= transaction.amount -%>
  <%= t("credit_transaction.keys.#{transaction.key}", name: transaction.trackable.to_s,
          username: transaction.recipient.try(:name),
              amount: transaction.amount) %>
  <%= format_date_time transaction.created_at -%>
</div>
